* {
    box-sizing: border-box;
}

body {
    font-family: Montserrat, Helvetica, sans-serif;
}

article {
    border-bottom: 2px solid gray;
}

article:not(:last-child) {
    margin-bottom: 12px;
}

article p{
    margin-top: 4px;
    margin-bottom: 8px;
}