* {
    box-sizing: border-box;
}

body {
    font-family: Montserrat, Helvetica, sans-serif;
}

h1 {
    font-size: 44px;
}

article {
    border-bottom: 2px solid gray;
}

article:not(:last-child) {
    margin-bottom: 12px;
}

article time {
    font-size: 12px;
}
article p{
    font-size: 16px;
    margin-top: 4px;
    margin-bottom: 8px;
}